body {
  margin: 0;
  padding:0;
  min-width: 300px;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

nav{
  background-color: white;
}

p {
  font-family: 'Cormorant Garamond', serif;
}

a, a:link, a:active {
  text-decoration: none;
  color: black;
}

a:hover, a:focus {
  color: purple;
}


@media only screen and (min-width: 640px){

}
