body {
  margin: 0;
  padding:0;
  min-width: 300px;
}

.background-image {
  background-image: url("../assets/japan_watercolor.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 380px;
  width: 100%;
}

.footer-image {
  background-image: url("../assets/japan_watercolor.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 60px;
  width: 100%;
}

nav ul{
  background-color: white;
  height: 100px;
  width: 100%;
  margin-top: 0;
}

nav ul li{
  display: none;
}

main{
  background-color: white;
  margin: 0 auto;
}

main #designer_developer{
  display: block;
  margin: 30px auto;
  padding-top: 20px;
  width: 80%;
  max-width: 800px;
}

main #triangle_placeholder {
  display: block;
  margin: 30px auto;
  padding-top: 20px;
  width: 100%;
  max-width: 800px;
}

p {
  width: 80%;
  max-width: 800px;
  margin: 30px auto;
}

#clearfix{
  clear: both;
}

.icon-menu::before {
	content: "\2630";
}

.icon-menu {
  font-size: 2em;
  text-align: right;
  float: right;
}

.main-nav::hover ul{
  display: block;
}

#logo {
  margin: 4% 0 3% 3%;
  height: 40%;
  max-height: 80px;
  float: left;
}

.nav_button {
  float: right;
  margin-top: 40px;
  padding-right: 5%;
  font-size: 1em;
}

section.blog {
  font-family: sans-serif;
}

section.blog h1{
  text-align: center;
}

.template {
  display: none;
}

@media only screen and (min-width: 700px){
  .icon-menu {
    display: none;
  }

  nav ul li{
    display: inline;
    float: left;
    list-style: none;
    font-family: sans-serif;
  }

  .main-nav ul li {
    display: inline-flex;
  }

  .main-nav:hover ul{
    display: inline-flex;
  }

  .main-nav li{
    margin-right: 1.5em;
    padding: .5em 2em;
  }
}
